.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .filter {
        position: absolute;
        top: 9.5rem;
        left: 0;
        width: 100%;
        height: 4.5rem;
        padding: 0 10rem;
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(20px);
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 9;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        &__search {
            width: 38%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            input {
                background-color: transparent;
                outline: none;
                border: none;
                caret-color: #fff;
                color: #fff;
                padding: 0.5rem 2rem;
                width: 90%;

                &::placeholder {
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.4rem;
                }
            }

            .btn {
                height: 3.8rem;
                width: 3.8rem;
                padding: 0;

                &::before,
                &::after {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                svg {
                    fill: #fff;
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }

        &__name {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 500;
            position: relative;
            height: 4.5rem;
            width: 14.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 2rem;
            border-left: 1px solid rgba(255, 255, 255, 0.2);

            svg {
                width: 1.2rem;
                height: 1.2rem;
                fill: #fff;
                margin-left: 1rem;
            }

            &:hover {
                & .filter__content {
                    height: auto;
                    opacity: 1;
                    pointer-events: visible;
                }
            }
        }

        &__content {
            position: absolute;
            top: 100%;
            left: 0;
            width: 150%;
            padding: 1.5rem;
            background-color: rgba(0, 0, 0, 0.75);
            backdrop-filter: blur(20px);
            height: 0;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s;

            &--option {
                position: relative;
                padding: 0.5rem;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        270deg,
                        rgba(187, 128, 103, 0) 33%,
                        rgba(187, 128, 103, 0.40129555240064774) 41%,
                        rgba(187, 128, 103, 0.630987429151348) 65%
                    );
                    transform: translateX(-100%);
                    transition: all 0.5s;
                }

                &:hover {
                    &::before {
                        transform: translateX(0);
                    }
                }

                input,
                label {
                    position: relative;
                    z-index: 5;
                }
            }
        }
    }

    &__bar {
        position: absolute;
        width: 100%;
        height: 7.9rem;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
        display: flex;
        justify-content: center;
        align-items: center;

        &-arrow {
            width: 8rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &--a,
            &--x {
                width: 2px;
                height: 1.8rem;
                background-color: rgb(148, 148, 148);
                transition: all 0.4s;
                position: relative;

                &::before {
                    content: "";
                    width: 0.2rem;
                    height: 2.8rem;
                    background-color: rgb(148, 148, 148);
                    position: absolute;
                    top: -0.3rem;
                    left: 250%;
                    transform: translateX(0.4rem) rotate(-40deg);
                    transition: all 0.4s;
                    opacity: 0;
                }
            }

            &--a {
                transform: translateX(-0.5rem) rotate(-45deg);

                &::after {
                    content: "";
                    width: 0.2rem;
                    height: 1.2rem;
                    background-color: rgb(148, 148, 148);
                    position: absolute;
                    top: 40%;
                    left: 0;
                    transform: translateX(0.5rem) rotate(-110deg);
                    transition: all 0.4s;
                    opacity: 0;
                }

                &.scrolled {
                    height: 2.8rem;
                    transform: translateX(-1rem) rotate(20deg);

                    &::before,
                    &::after {
                        opacity: 1;
                    }
                }
            }

            &--x {
                transform: translateX(0.5rem) rotate(45deg);

                &::before {
                    height: 3rem;
                    top: 0;
                    transform: translateX(-0.5rem) rotate(-60deg);
                }

                &.scrolled {
                    height: 3rem;
                    transform: translateX(1.5rem) rotate(30deg);

                    &::before {
                        opacity: 1;
                    }
                }
            }

            &:hover &--a,
            &:hover &--x {
                background-color: #fff;

                &::before,
                &::after {
                    background-color: #fff;
                }
            }
        }
    }

    @media only screen and (min-width: 1400px) {
        video {
            width: 100%;
            height: auto;
        }
    }
}

.about {
    height: 35rem;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 29rem;

    .p {
        font-size: 1.8rem;
        color: #fff;
        line-height: 1.5;
        text-align: center;
    }

    @media only screen and (max-width: $bp-lg) {
        padding: 0 10rem;
    }
}

.lifestyles {
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-sm) {
        grid-template-columns: 1fr;
    }

    &__item {
        overflow: hidden;
        height: 30rem;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            filter: brightness(70%);
            transition: filter 0.5s;
        }

        span {
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            color: #fff;
            font-size: 1.6rem;
            font-weight: bold;
            transition: all 0.5s;
        }

        &:hover {
            img {
                filter: brightness(50%);
            }

            span {
                font-size: 2.5rem;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%, 50%);
            }
        }
    }
}

.properties {
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: 1fr;
    }

    &__item {
        height: 38rem;
        border: 1px solid #b8b8b8;
        transition: all 0.3s;

        &--header {
            height: 75%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transition: all 0.3s;
            }

            span {
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                pointer-events: hidden;
                transition: all 0.3s;
                padding-top: 3rem;
                z-index: 1;

                h3 {
                    color: #fff;
                    font-size: 1.6rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                }

                p {
                    color: rgb(204, 204, 204);
                    font-size: 1.6rem;
                    padding: 2rem 3rem;
                    text-align: center;
                    line-height: 1.5;
                }
            }

            .shade {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 200%;
                background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.7) 100%);
                transition: all 0.3s;
                opacity: 1;
                z-index: 0;
            }

            &:hover {
                span {
                    opacity: 1;
                    pointer-events: visible;
                }

                .shade {
                    top: -100%;
                }
            }
        }

        &--footer {
            padding: 2rem 3rem;
            display: flex;
            flex-direction: column;
            align-content: space-between;

            .top,
            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .top {
                a {
                    color: $color-primary;
                    font-size: 1.8rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    font-size: 1.8rem;

                    span {
                        color: rgb(141, 141, 141);
                    }
                }
            }

            .bottom {
                margin-top: 1rem;
                color: rgb(141, 141, 141);

                p {
                    font-size: 1.3rem;
                    color: rgb(141, 141, 141);
                }
            }
        }

        &:hover {
            border: 1px solid #fff;
            box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
        }
    }

    &.international {
        .properties__item {
            height: 30rem;
        }
    }
}

.information {
    width: 100%;
    background-size: cover;
    background-position: center;

    &__content {
        padding: 8rem;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            color: white;
            font-size: 3.4rem;
            font-weight: 400;
        }

        p {
            color: white;
            font-size: 1.6rem;
            line-height: 1.5;
            padding: 4rem 0;
            text-align: justify;
        }

        &.reverse {
            margin-left: auto;
        }

        @media only screen and (max-width: $bp-md) {
            width: 100%;
        }
    }

    @media only screen and (max-width: $bp-md) {
        padding-top: 50rem;
    }
}

.off-plan {
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: 1fr;
    }

    &__item {
        width: 100%;
        height: 46rem;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 3rem;
        position: relative;
        overflow: hidden;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 5;

            a {
                font-size: 3rem;
                font-weight: 500;
                color: #fff;
                text-transform: capitalize;
                transition: all 0.3s;

                &:hover {
                    text-decoration: underline;
                }
            }

            p {
                font-size: 1.6rem;
                font-weight: 400;
                color: #fff;
            }
        }

        .buttons {
            justify-content: flex-end;
            margin-top: 2rem;
            z-index: 5;

            .btn {
                color: #fff;

                &::before {
                    border-left: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                }

                &::after {
                    border-right: 1px solid #fff;
                    border-top: 1px solid #fff;
                }
            }

            .thumbs-up {
                svg {
                    fill: #fff;
                }
            }
        }

        .shade {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.4) 65%, rgba(0, 0, 0, 0.7) 100%);
            transition: all 0.3s;
        }

        &:hover {
            .shade {
                top: -100%;
            }
        }
    }
}
