// COLORS
$color-primary: #4b4b4b;
$color-accent: #ffad4c;

// BREAKPOINTS
$bp-xl: 90em; // 1440px
$bp-lg: 64em; // 1024px
$bp-md: 48em; // 768px
$bp-sm: 40em; // 640px
$bp-xs: 30em; // 480px

// NORMALIZING THE OVERALL LAYOUT BY IGNORING DEFAULT PROPERTIES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px
  overflow-x: hidden;
  font-family: "Mukta", sans-serif;

  @media only screen and (max-width: $bp-lg) {
    font-size: 50%; // 8px
  }

  @media only screen and (max-width: $bp-md) {
    font-size: 43.75%; // 7.5px
  }

  @media only screen and (max-width: $bp-sm) {
    font-size: 40.625%; // 6.5px
  }
}

body {
  overflow-x: hidden;
  background: rgb(255, 250, 240);
}

nav,
header,
section,
main,
footer {
  width: 100%;
  padding: 5rem;

  @media only screen and (max-width: $bp-sm) {
    padding: 3rem;
  }
}

ul {
  list-style: none;
  display: flex;
}
