// COLORS
$color-primary: #4b4b4b;
$color-accent: #ffad4c;

// BREAKPOINTS
$bp-xl: 90em; // 1440px
$bp-lg: 64em; // 1024px
$bp-md: 48em; // 768px
$bp-sm: 40em; // 640px
$bp-xs: 30em; // 480px

// NORMALIZING THE OVERALL LAYOUT BY IGNORING DEFAULT PROPERTIES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px
  overflow-x: hidden;
  font-family: "Mukta", sans-serif;

  @media only screen and (max-width: $bp-lg) {
    font-size: 50%; // 8px
  }

  @media only screen and (max-width: $bp-md) {
    font-size: 43.75%; // 7.5px
  }

  @media only screen and (max-width: $bp-sm) {
    font-size: 40.625%; // 6.5px
  }
}

body {
  overflow-x: hidden;
  background: rgb(255, 250, 240);
}

nav,
header,
section,
main,
footer {
  width: 100%;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-sm) {
    padding: 1rem 3rem;
  }
}

section,
main {
  flex-direction: column;
  position: relative;
}

ul {
  list-style: none;
  display: flex;
}

.bg-effect {
  &::after {
    position: absolute;
    top: -20rem;
    content: "";
    width: 70rem;
    height: 70rem;
    border-radius: 612px;
    background: rgba(255, 173, 76, 0.3);
    filter: blur(209.5px);
    z-index: -1;
  }
  &--left::after {
    left: -10%;
  }
  &--right::after {
    right: -10%;
  }
}
