.partners {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  &__list-item-img {
    width: 80%;
  }

  @media only screen and (max-width: $bp-md) {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.products {
  width: 100%;

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    justify-content: space-around;
    padding: 3rem 0;
  }

  &__product {
    padding: 2rem;
    background-color: #ffecd6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
  }

  &__product-category {
    color: rgba($color: #333, $alpha: 0.3);
  }

  &__product-img {
    object-fit: cover;
    transform: translate(20%, 10%) scale(150%);
    transition: filter 0.2s;
    z-index: 1;
  }

  &__product:hover &__product-img {
    filter: drop-shadow(0.4rem 0.4rem 1rem rgba($color-accent, 0.6));
  }

  &__product-btn {
    align-self: flex-start;
    z-index: 2;
  }

  &__all-link {
    margin-top: 2rem;
    align-self: flex-end;
  }

  @media only screen and (max-width: $bp-md) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 0;
    }
  }

  @media only screen and (max-width: $bp-xs) {
    &__list {
      padding: 0rem;
      gap: 2rem;
    }

    &__product-img {
      transform: translate(25%, 10%) scale(150%);
    }
  }
}

.our-work {
  &__container {
    width: 100%;
    height: 50rem;
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__gallery {
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
    max-height: 50rem;
  }

  &__list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__list-item {
    height: 30%;
    width: 100%;
    overflow: hidden;
    background-color: #fbf7f2;
    border-radius: 1rem;
    display: flex;
    box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
  }

  &__list-item-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  &__list-item-link {
    margin-top: 2rem;
  }

  &__all-link {
    margin-top: 2rem;
    align-self: flex-end;
  }

  @media only screen and (min-width: $bp-md) {
    &__list-item-description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  @media only screen and (max-width: $bp-md) {
    &__container {
      flex-direction: column;
      height: auto;
    }

    &__gallery {
      width: 100%;
      max-height: 40vh;
      height: 50rem;
      box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
    }

    &__list {
      width: 100%;
      gap: 3rem;
    }

    &__list-item {
      box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
    }

    &__list-item-img {
      width: 20%;
      height: auto;
    }
  }

  @media only screen and (max-width: $bp-sm) {
    &__list-item-img {
      width: 30%;
    }
  }
}

.work {
  &__container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__gallery {
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
    max-height: 50rem;
  }

  &__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-lg) {
    &__gallery {
      max-height: 45rem;
    }
  }

  @media only screen and (max-width: $bp-sm) {
    &__container {
      flex-direction: column;
    }

    &__gallery {
      width: 100%;
      max-height: 40vh;
      height: 50rem;
    }

    &__description {
      width: 100%;
    }
  }
}

.contacts {
  &__container {
    width: 100%;
    height: 50rem;
    display: flex;
  }

  &__map {
    width: 50%;
    border: none;
    padding: 5rem;
  }

  &__map-iframe {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
  }

  &__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 5rem;
  }

  &__list-item {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__list-item-answer {
    font-weight: 400;
  }

  &__list-item-link {
    color: $color-primary;

    &:hover {
      color: $color-accent;
    }
  }

  @media only screen and (max-width: $bp-lg) {
    &__map {
      width: 55%;
      padding: 2rem;
    }

    &__list {
      width: 45%;
    }
  }

  @media only screen and (max-width: $bp-sm) {
    &__container {
      flex-direction: column;
      gap: 5rem;
      height: auto;
    }

    &__map {
      width: 100%;
      padding: 0;
      height: 30rem;
    }

    &__list {
      width: 100%;
      padding: 0;
    }
  }
}
