.partners {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  &__list-item-img {
    width: 80%;
  }

  @media only screen and (max-width: $bp-md) {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.products {
  width: 100%;

  &__list {
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    padding: 3rem;
  }

  &__product {
    padding: 2rem;
    background-color: #ffecd6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba($color: #333, $alpha: 0.2);
  }

  &__product-category {
    color: rgba($color: #333, $alpha: 0.3);
  }

  &__product-img {
    object-fit: cover;
    transform: translate(20%, 10%) scale(150%);
    transition: all 0.3s;
    z-index: 1;
  }

  &__product:hover &__product-img {
    filter: drop-shadow(0.4rem 0.4rem 1rem rgba($color-accent, 0.6));
  }

  &__product-btn {
    align-self: flex-start;
    z-index: 2;
  }

  @media only screen and (max-width: $bp-md) {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
    }
  }

  @media only screen and (max-width: $bp-xs) {
    &__list {
      padding: 0rem;
      gap: 2rem;
    }

    &__product-img {
      transform: translate(25%, 10%) scale(150%);
    }
  }
}

.our-work {
  &__container {
    width: 100%;
    height: 50rem;
    display: flex;
    gap: 3rem;
  }

  &__gallery {
    width: 50%;
    border-radius: 1rem;
    box-shadow: -3rem 3rem #ffecd6;
    //DELETE
    background-image: url(../img/our-work-hero.webp);
    background-size: cover;
  }

  &__list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__list-item {
    height: 30%;
    width: 100%;
    overflow: hidden;
    background-color: #fbf7f2;
    border-radius: 1rem;
    display: flex;
  }

  &__list-item-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  &__list-item-link {
    margin-top: 2rem;
  }
}
