.h-1 {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;

  &--main {
    color: $color-accent;
    text-transform: uppercase;
  }

  &--sub {
    color: $color-primary;
    font-size: 50%;
    text-transform: capitalize;
    font-style: italic;
  }
}

.h-2 {
  width: fit-content;
  color: $color-primary;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  text-align: center;
  margin: 4rem 0;
  position: relative;

  &::after {
    content: "";
    width: 15%;
    height: 1px;
    position: absolute;
    top: 120%;
    right: 50%;
    transform: translate(50%);
    background-color: $color-primary;
  }
}

.h-3 {
  width: 90%;
  color: $color-primary;
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  margin: 1rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media only screen and (max-width: $bp-lg) {
    font-size: 1.6rem;
  }
}

.p {
  font-size: 1.4rem;
  color: $color-primary;

  &--larger {
    font-size: 1.8rem;
    padding-right: 5rem;
  }

  &--light {
    color: white;
  }
}

.btn {
  width: fit-content;
  font-size: 1.4rem;
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: all 0.2s;
  margin-top: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;

  &--accent {
    background-color: $color-accent;
  }

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    margin-left: 2rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.3);
  }

  @media only screen and (max-width: $bp-lg) {
    font-size: 1.2rem;
  }
}

.link {
  width: fit-content;
  font-size: 1.4rem;
  padding-right: 2rem;
  color: $color-primary;
  text-transform: uppercase;
  transition: all 0.2s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  position: relative;

  &::after {
    content: "\2192";
    position: absolute;
    right: 0.3rem;
    top: -0.3rem;
    transition: all 0.2s;
  }

  &:hover {
    padding-left: 1rem;

    &::after {
      right: -0.5rem;
    }
  }

  @media only screen and (max-width: $bp-lg) {
    font-size: 1.2rem;
  }
}

.price-tag {
  width: min-content;
  display: inline-flex;
  padding: 0.8rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2px);
  color: $color-accent;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0.5px solid $color-accent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
