@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Mukta", sans-serif;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 40em) {
  html {
    font-size: 40.625%;
  }
}

body {
  overflow-x: hidden;
  background: rgb(255, 250, 240);
}

nav,
header,
section,
main,
footer {
  width: 100%;
  padding: 5rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 40em) {
  nav,
  header,
  section,
  main,
  footer {
    padding: 3rem;
  }
}

section,
main {
  flex-direction: column;
  position: relative;
}

ul {
  list-style: none;
  display: flex;
}

.bg-effect::after {
  position: absolute;
  top: -20rem;
  content: "";
  width: 70rem;
  height: 70rem;
  border-radius: 612px;
  background: rgba(255, 173, 76, 0.3);
  filter: blur(209.5px);
  z-index: -1;
}
.bg-effect--left::after {
  left: -10%;
}
.bg-effect--right::after {
  right: -10%;
}

.h-1 {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}
.h-1--main {
  color: #ffad4c;
  text-transform: uppercase;
}
.h-1--sub {
  color: #4b4b4b;
  font-size: 50%;
  text-transform: capitalize;
  font-style: italic;
}

.h-2 {
  width: -moz-fit-content;
  width: fit-content;
  color: #4b4b4b;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  text-align: center;
  margin: 4rem 0;
  position: relative;
}
.h-2::after {
  content: "";
  width: 15%;
  height: 1px;
  position: absolute;
  top: 120%;
  right: 50%;
  transform: translate(50%);
  background-color: #4b4b4b;
}

.h-3 {
  width: 90%;
  color: #4b4b4b;
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  margin: 1rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 64em) {
  .h-3 {
    font-size: 1.6rem;
  }
}

.p {
  font-size: 1.4rem;
  color: #4b4b4b;
}
.p--larger {
  font-size: 1.8rem;
  padding-right: 5rem;
}
.p--light {
  color: white;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: all 0.2s;
  margin-top: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.btn--accent {
  background-color: #ffad4c;
}
.btn--primary {
  background-color: #4b4b4b;
}
.btn--secondary {
  margin-left: 2rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(75, 75, 75, 0.3);
}
@media only screen and (max-width: 64em) {
  .btn {
    font-size: 1.2rem;
  }
}

.link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
  padding-right: 2rem;
  color: #4b4b4b;
  text-transform: uppercase;
  transition: all 0.2s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  position: relative;
}
.link::after {
  content: "→";
  position: absolute;
  right: 0.3rem;
  top: -0.3rem;
  transition: all 0.2s;
}
.link:hover {
  padding-left: 1rem;
}
.link:hover::after {
  right: -0.5rem;
}
@media only screen and (max-width: 64em) {
  .link {
    font-size: 1.2rem;
  }
}

.price-tag {
  width: -moz-min-content;
  width: min-content;
  display: inline-flex;
  padding: 0.8rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background: rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: #ffad4c;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0.5px solid #ffad4c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(75, 75, 75, 0.1);
  padding: 2rem 5rem;
}
.navbar__logo-img {
  width: 7rem;
  color: #ffad4c;
  transition: all 0.2s;
  filter: invert(26%) sepia(4%) saturate(18%) hue-rotate(319deg) brightness(93%) contrast(81%);
}
.navbar__logo-img:hover {
  filter: invert(69%) sepia(23%) saturate(1153%) hue-rotate(346deg) brightness(103%) contrast(101%);
}
.navbar__list {
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 40em) {
  .navbar__list {
    width: 50%;
  }
}
@media only screen and (max-width: 30em) {
  .navbar__list {
    display: none;
  }
}
.navbar__list-item-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4b4b4b;
  transition: all 0.2s;
  position: relative;
}
.navbar__list-item-link::after {
  content: "";
  width: 20%;
  height: 1px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #4b4b4b;
  transition: all 0.2s;
}
.navbar__list-item-link:hover {
  color: #ffad4c;
}
.navbar__list-item-link:hover::after {
  background-color: #ffad4c;
  width: 60%;
}
@media only screen and (max-width: 30em) {
  .navbar {
    padding: 2rem 4rem;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__text-box {
  width: 45%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem;
  position: absolute;
  left: 5%;
  top: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  border-radius: 1rem;
  background-color: rgba(248, 248, 248, 0.6);
  -webkit-backdrop-filter: blur(0.4rem);
          backdrop-filter: blur(0.4rem);
  transform: translate(0, -50%);
}
.header__buttons {
  display: flex;
}
.header__hero {
  width: 60%;
  display: flex;
  align-items: center;
}
.header__hero-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: -3rem 3rem #ffecd6;
}
@media only screen and (max-width: 64em) {
  .header__text-box {
    width: 55%;
  }
}
@media only screen and (max-width: 48em) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
  .header__text-box {
    width: 50%;
    padding: 2rem;
    position: relative;
    transform: translate(0, 0);
    left: 0;
  }
  .header__hero {
    width: 45%;
  }
}
@media only screen and (max-width: 40em) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }
  .header__text-box {
    width: 100%;
    box-shadow: 0 0 5rem rgba(75, 75, 75, 0.1);
  }
  .header__hero {
    width: 100%;
  }
  .header__hero-img {
    box-shadow: none;
  }
}

.partners__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.partners__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.partners__list-item-img {
  width: 80%;
}
@media only screen and (max-width: 48em) {
  .partners__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.products {
  width: 100%;
}
.products__list {
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: space-around;
  padding: 3rem;
}
.products__product {
  padding: 2rem;
  background-color: #ffecd6;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(51, 51, 51, 0.2);
}
.products__product-category {
  color: rgba(51, 51, 51, 0.3);
}
.products__product-img {
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(20%, 10%) scale(150%);
  transition: all 0.3s;
  z-index: 1;
}
.products__product:hover .products__product-img {
  filter: drop-shadow(0.4rem 0.4rem 1rem rgba(255, 173, 76, 0.6));
}
.products__product-btn {
  align-self: flex-start;
  z-index: 2;
}
@media only screen and (max-width: 48em) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}
@media only screen and (max-width: 30em) {
  .products__list {
    padding: 0rem;
    gap: 2rem;
  }
  .products__product-img {
    transform: translate(25%, 10%) scale(150%);
  }
}

.our-work__container {
  width: 100%;
  height: 50rem;
  display: flex;
  gap: 3rem;
}
.our-work__gallery {
  width: 50%;
  border-radius: 1rem;
  box-shadow: -3rem 3rem #ffecd6;
  background-image: url(../img/our-work-hero.webp);
  background-size: cover;
}
.our-work__list {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.our-work__list-item {
  height: 30%;
  width: 100%;
  overflow: hidden;
  background-color: #fbf7f2;
  border-radius: 1rem;
  display: flex;
}
.our-work__list-item-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
.our-work__list-item-link {
  margin-top: 2rem;
}/*# sourceMappingURL=main.css.map */