@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*

MEDIA QUERY MANAGER

   0 -  600px:  PHONE
 601 -  900px:  TABLE PORTRAIT
 901 - 1200px:  TABLE LANDSCAPE
1201 - 1800px:  DESKTOP (normal style)
1801 - ~~~~px:  BIG DESKTOPS


$breakpoint argument choices:
- PHONE
- TAB-PORT
- TAB-LAND
- BIG DESKTOP


1em = 16px

*/

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em)  { @content }  //600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }  //900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em)    { @content }  //1200px
    }

    @if $breakpoint == big-desk {
        @media only screen and (min-width: 112.5em) { @content }  //1800px
    }

}